<div class="sidebar close">
  <ul class="nav-links">
    <li>
      <div class="iocn-link">
        <a href="/players"><i class='bx bx-walk'></i></a>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Players</a></li>
        <li><a href="/players">Players list</a></li>
        <li><a href="/create-player">Create player</a></li>
      </ul>
    </li>

    <li>
      <div class="iocn-link">
        <a href="/games">
          <i class='bx bx-football'></i>
          <span class="link_name">Games</span>
        </a>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="/games">Games</a></li>
        <li><a href="/games">Games list</a></li>
        <li><a href="/create-game">Create game</a></li>
      </ul>

    <!--<li>
      <a href="#">
        <i class='bx bx-history'></i>
        <span class="link_name">History</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">History</a></li>
      </ul>
    </li>-->
    <!--<li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="link_name">Setting</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Setting</a></li>
      </ul>
    </li>-->
  </ul>
</div>
