<div class="player-info">
  <h2 class="player-text">Create Player</h2>

  <form [formGroup]="updateForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name</label>
      <input formControlName="name" [ngClass]="{'form-control is-invalid':formSubmitted && updateForm.controls['name'].errors}" type="text">

      @if(formSubmitted && updateForm.get('name')?.errors){
      <div class="invalid-feedback">
        @if(updateForm.get('name')?.errors?.['required']){
        <span>Name is required</span>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input formControlName="email" [ngClass]="{'form-control is-invalid':formSubmitted && updateForm.controls['email'].errors}" type="text">

      @if(formSubmitted && updateForm.get('email')?.errors){
      <div class="invalid-feedback">
        @if(updateForm.get('email')?.errors?.['required']){
        <span>Email is required</span>
        }
        @if(updateForm.get('email')?.errors?.['email']){
        <span>Please enter a valid email address</span>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label for="nickName">Nickname <span class="optional">(optional)</span></label>
      <input formControlName="nickName" type="text">
    </div>

    <div class="form-group">
      <label for="dob">Date of Birth <span class="optional">(optional)</span></label>
      <input formControlName="dob" type="date" placeholder="dd-mm-yyyy">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

@if(isSuccessful) {

<div class="player-info" style="padding-top: 5px;">
  <div class="alert alert-success" role="alert">
    Player created successfully!
  </div>
</div>
}

@if(formSubmitted && failure) {

<div class="player-info" style="padding-top: 5px;">
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
</div>
}
