<p-table
  [value]="games"
  dataKey="id"
  [rowHover]="true"
  styleClass="p-datatable-striped"
>
  <ng-template pTemplate="caption">
    <div class="table-header">List of Games</div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5rem"></th>
      <th>ID</th>

      <th pSortableColumn="date" style="width: auto">
        <div class="flex justify-content-between align-items-center">
          Date
          <p-sortIcon field="date"></p-sortIcon>
          <p-columnFilter
            type="date"
            field="date"
            display="menu"
            class="ml-auto"
          ></p-columnFilter>
        </div>
      </th>

      <th style="width: auto">
        <div class="flex justify-content-between align-items-center">Time</div>
      </th>

      <th pSortableColumn="location" style="width: auto">
        <div class="flex justify-content-between align-items-center">
          Location
          <p-sortIcon field="location"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="location"
            display="menu"
            class="ml-auto"
          ></p-columnFilter>
        </div>
      </th>

      <th pSortableColumn="status" style="width: auto">
        <div class="flex justify-content-between align-items-center">
          Status
          <p-sortIcon field="status"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="status"
            display="menu"
            class="ml-auto"
          ></p-columnFilter>
        </div>
      </th>

      <th pSortableColumn="team1" style="width: auto">
        <div class="flex justify-content-between align-items-center">
          Team 1
          <p-sortIcon field="team1"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="team1"
            display="menu"
            class="ml-auto"
          ></p-columnFilter>
        </div>
      </th>

      <th pSortableColumn="team2" style="width: auto">
        <div class="flex justify-content-between align-items-center">
          Team 2
          <p-sortIcon field="team2"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="team1"
            display="menu"
            class="ml-auto"
          ></p-columnFilter>
        </div>
      </th>

      <th style="width: auto">
        <div>Score</div>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-game let-expanded="expanded">
    <tr>
      <td>
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="game"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"

        ></button>
      </td>
      <td>{{ game.id }}</td>
      <td>{{ game.date | date : "dd-MMM-yyyy" }}</td>
      <td>{{ game.date | date : "HH:mm" }}</td>
      <td>{{ game.location }}</td>
      <td>
        <p-tag [severity]="getTagSeverity(game.status)">{{
          game.status
        }}</p-tag>
      </td>
      <td>{{ game.team1 ? game.team1?.name : "N/A" }}</td>
      <td>{{ game.team2 ? game.team2.name : "N/A" }}</td>
      <td>{{ game.scoreTeam1 }} - {{ game.scoreTeam2 }}</td>
      <td>
        <div class="d-flex">

          <div class="col-3">
          @if(game.status != 'Completed')
          {
              <button
              (click)="editGame(game)"
              pButton
              pRipple
              icon="pi pi-pencil"
              style="border-radius: 50%; margin-right: 5px"
              class="p-button-rounded p-button-success mr-2"
              ></button>
          }

          @if(game.status == 'Completed')
            {
                <button
                (click)="revertGame(game)"
                pButton
                pRipple
                icon="pi pi-undo"
                style="border-radius: 50%; margin-right: 5px"
                class="p-button-rounded p-button-warning mr-2"
                ></button>
            }
          </div>

          <p-confirmDialog
            header="Confirmation"
            icon="pi pi-exclamation-triangle"
          ></p-confirmDialog>
          <p-toast key="selectPlayers"></p-toast>
          <div class="col-3">
            <button
            (click)="deleteGame(game)"
            pButton
            pRipple
            icon="pi pi-trash"
            style="border-radius: 50%; margin-right: 5px"
            class="p-button-rounded p-button-danger"
            ></button>
          </div>

          <div class="col-6">
          @if(game.status != 'Completed')
          {
              <button
              (click)="addPlayers(game)"
              type="button"
              class="btn btn-primary">
                Add players
              </button>
          }
          </div>

        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-game>
    <tr>
      <td colspan="12">
        <div class="p-3">
          <div class="form-row d-flex">
            <div class="col-md-6">
              <p>
                <strong>Players:</strong>
                @for(selectedPlayer of game.players; track selectedPlayer; let
                last = $last) {
                {{ selectedPlayer.firstName }} {{ selectedPlayer.lastName }}
                @if (!last) {
                <span>,</span>
                } }
              </p>
            </div>

            <div class="col-md-6">
              @if(game.players && game.players.length >= 4){
              <button
                (click)="openGenerateTeamsDialog(game)"
                style="font-weight: 500; margin-left: 10px"
                type="button"
                class="btn btn-primary btn-sm"
              >
                Generate teams
              </button>
              }
            </div>
          </div>

          <div class="form-row d-flex" style="padding-top: 15px">
            <div class="col-md-6">
              <p>
                <strong>Team 1: </strong>
                @for(selectedPlayer of game.team1?.players; track
                selectedPlayer; let last = $last) {
                {{ selectedPlayer.firstName }} {{ selectedPlayer.lastName }}({{
                  selectedPlayer.rating
                }}) @if (!last) {
                <span>,</span>
                } }
              </p>
            </div>
            <div class="col-md-6 d-flex" style="margin-left: 1cm">
              <div>
                <p style="padding-right: 5px"><strong>OVR: </strong></p>
              </div>
              <div>
                {{ calculateRating(game.team1) }}
              </div>
            </div>
          </div>

          <div class="form-row d-flex" style="padding-top: 15px">
            <div class="col-md-6">
              <p>
                <strong>Team 2: </strong>
                @for(selectedPlayer of game.team2?.players; track
                selectedPlayer; let last = $last) {
                {{ selectedPlayer.firstName }} {{ selectedPlayer.lastName }}({{
                  selectedPlayer.rating
                }}) @if (!last) {
                <span>,</span>
                } }
              </p>
            </div>

            <div class="col-md-6 d-flex" style="margin-left: 1cm">
              <div>
                <p style="padding-right: 5px"><strong>OVR: </strong></p>
              </div>
              <div>
                {{ calculateRating(game.team2) }}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Add players to the game dialog -->

<p-dialog
  [(visible)]="addPlayersDialog"
  [draggable]="false"
  [style]="{ width: '35vw', height: '90vh' }" 
  header="Add Players"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="hideAddPlayersDialog()"
>
  <ng-template pTemplate="content">
    <div style="display: flex; flex-direction: column; height: 100%;">
      <div style="flex-grow: 1; overflow-y: auto;">
        <p-table [scrollable]="true" scrollHeight="flex" selectionMode="multiple" #dt1 [value]="players" [(selection)]="selectedPlayers">
          <ng-template pTemplate="caption">
            <div class="flex">
              <span class="p-input-icon-left p-input-icon-right ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="filterPlayers($event)"
                  (keypress)="onSearchKeyPress($event)"
                  placeholder="Search player"
                />
                <i class="pi pi-times" (click)="clearSearch($event)"></i>
              </span>

            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-player let-rowIndex="rowIndex">
            <tr [pSelectableRow]="player" [pSelectableRowIndex]="rowIndex" [ngClass]="{ 'selected-row': selectedPlayers.includes(player) }">
              <td>{{ player.firstName }} {{ player.lastName }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <p style="padding-top: 20px;">Number of selected players: <strong>{{selectedPlayers.length}}</strong></p> 
      <div style="padding-top: 10px; flex-shrink: 0;">
        <button type="button" class="btn btn-primary" (click)="save()">
          Add players
        </button>
      </div>
    </div>
  </ng-template>
</p-dialog>


<!-- Edit game dialog -->

<p-dialog
  [(visible)]="editDialog"
  [draggable]="false"
  [style]="{ width: '35vw' }"
  header="Edit Game"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">
      <div class="form-group">
        <label>Date</label>

        <input matInput type="datetime-local" formControlName="date" />
      </div>      

      @if(formSubmitted && editForm.get('date')?.errors){
      <div class="ng-invalid ng-dirty invalid-feedback">
        @if(editForm.get('date')?.errors?.['required']){
        <span>Date is required</span>
        }
      </div>
      }

      <div class="field pt-3">
        <label for="location">Location</label>
        <input
          formControlName="location"
          [ngClass]="{
            'form-control is-invalid':
              formSubmitted && editForm.controls['location'].errors
          }"
          type="text"
          pInputText
          id="location"
        />

        @if(formSubmitted && editForm.get('location')?.errors){
        <div class="invalid-feedback">
          @if(editForm.get('location')?.errors?.['required']){
          <span>Location is required</span>
          }
        </div>
        }
      </div>

      <div class="field pt-3">
        <label for="status">Status</label>
        <select formControlName="status" name="statuses" id="statuses">
          @for (status of statuses; track status) {
          <option [value]="status.value">{{ status.label }}</option>
          }
        </select>
      </div>

      <div class="form-row justify-content-center pt-3">
        <label>Score</label>
        <div class="col-3 d-flex align-items-center">
          <input
            type="number"
            class="form-control text-center"
            formControlName="scoreTeam1"
            onclick="(function(input) { input.value = ''; })(this)"
          />
          <p class="m-0 mx-2">-</p>
          <input
            type="number"
            class="form-control text-center"
            formControlName="scoreTeam2"
            onclick="(function(input) { input.value = ''; })(this)"
          />
        </div>
      </div>
    </form>

    <div style="margin-top: 10px;">
      <strong>Team 1:</strong>
      @for(player of selectedGame.team1?.players; track player; let last = $last) {
        {{ player.firstName }} {{ player.lastName }}
        @if (!last){
          <span>, </span>
        }
      }
    </div>

    <div style="margin-top: 5px;">
      <strong>Team 2:</strong>
      @for(player of selectedGame.team2?.players; track player; let last = $last) {
        {{ player.firstName }} {{ player.lastName }}
        @if (!last){
          <span>, </span>
        }
      }
    </div>

    @if(isSuccessful) {

      <div class="pt-3" style="padding-top: 5px">
        <div
          class="alert alert-success"
          style="display: flex; justify-content: start"
          role="alert"
        >
          {{ message }}
        </div>
      </div>
      }
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="updateGame()"
    ></button>
  </ng-template>
</p-dialog>

<p-toast key="savedTeams"></p-toast>